.btn {
  border-radius: 3px; //1.25rem;
}
.btn, input, select {
  padding-top: 0.25rem;
}
.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #293a80;
  border-color: #293a80;
}

.btn-default {
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd;
}

.btn-default:hover {
  border-color: #9f9f9f;
  background: #dbdbdb;
}

